.header {
  padding-top: 10px;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
}

.search-box {
  background-color: #eeeeee20;
  border: 1px solid #eee;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  backdrop-filter: blur(2px);
}

.search-box input {
  all: unset;
  width: 100%;
}